.toolbar{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 64px;
    /* background: #521751; */
    background: #961167;   
}

.toolbar_navigation{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar_logo{
    margin-left: 1rem;
}

.toolbar_logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

.toolbar_logo.slide{
    margin-left:72%;
    transition: 0.3s ease-out; 
}

.spacer {
    flex: 1;
}
.toolbar_navigation ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation-items a{
    color: white;
    text-decoration: none;
    padding: 0 1rem;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active{
    color:#fa923f;
}

@media (max-width: 769px){
    .toolbar_navigation-items{
        display: none;
    }
   
}