.toolbar{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 64px;
    /* background: linear-gradient(to right bottom,#521751,red); */
    /* background: #961167; */
    /* background: #961167;    */
    background: white;
    box-shadow: 1px 0px 2px rgba(0,0, 0.5);
    z-index:1000;
    position: fixed;
    /* background: red; */
}

.toolbar_navigation{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar_logo{
    margin-left: 1rem;
   
}

/* .toolbar_logo a {
     color: #521751;
    color: white; 

    color: red;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold; 
    
} 
*/
.toolbar_logo.slide{
    margin-left:72%;
    transition: 0.3s ease-out; 
}

.spacer {
    flex: 1;
}
.toolbar_navigation ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation-items {
    display: block;
}
.nav-link{
    /* color: #521751; */
    /* color: white; */
    color: red;
    text-decoration: none;
    display: block;
    padding: 1rem 1.5rem;
    font-weight: 600;
    font-size: medium;
}

.nav-link:hover,
.nav-link:active{
    color:white;
    background-color:#32bcdb;
    
    transition: all 0.3s ease-in;
}

@media (max-width: 769px){
    .toolbar_navigation-items{
        display: none;
    }
   
}